*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(phone) {
    font-size: 37.5%; //1rem = 6px, 6/16
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light;
}

section {
  padding: 6rem 10rem;

  @include respond(tab-port) {
    padding: 4rem 5rem;
  }
}

li {
  list-style-type: none;
}

nav {
  font-size: $sml-font-size;
}

ul::-webkit-scrollbar {
  width: 1rem;
}

ul::-webkit-scrollbar-thumb {
  background-color: $color-primary-light;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary-dark;
}

a {
  color: $color-white;
}

a:hover {
  text-decoration: none;
  color: $color-white;
}

.logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  top: -3px;
  background: black;
  border-radius: 50%;
}
