@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
  line-height: 1.5;
  font-size: $default-font-size;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 7rem;

  @include respond(tab-land) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.5rem;

  @include respond(phone) {
    font-size: 3rem;
  }

  &.positioning {
    padding: 5rem 0;
    text-align: center;
  }
}
