/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f6f8fa; }

section {
  padding: 6rem 10rem; }
  @media only screen and (max-width: 56.25em) {
    section {
      padding: 4rem 5rem; } }

li {
  list-style-type: none; }

nav {
  font-size: 1.3rem; }

ul::-webkit-scrollbar {
  width: 1rem; }

ul::-webkit-scrollbar-thumb {
  background-color: #6dd5ed; }

ul::-webkit-scrollbar-thumb:hover {
  background-color: #2193b0; }

a {
  color: white; }

a:hover {
  text-decoration: none;
  color: white; }

.logo {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  top: -3px;
  background: black;
  border-radius: 50%; }

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

h1 {
  font-size: 7rem; }
  @media only screen and (max-width: 75em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    h2 {
      font-size: 3rem; } }
  h2.positioning {
    padding: 5rem 0;
    text-align: center; }

.btn, .btn:link, .btn:visited {
  padding: 0.6rem;
  display: inline-block;
  border-radius: 0.6rem;
  position: relative;
  color: white;
  font-size: 1.6rem;
  border: none;
  transition: all 0.2s; }

.btn:hover {
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background: linear-gradient(-70deg, #55c57a 80%, #7ed56f 20%); }

.btn--pink {
  background: linear-gradient(-70deg, #d62977 80%, white 20%); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.contact-feature {
  margin-top: -20rem; }
  .contact-feature h2 {
    text-align: left;
    margin-left: 10%;
    position: relative;
    top: 0;
    left: 0; }

.contact-form {
  margin-top: -11rem;
  background-image: linear-gradient(to right bottom, rgba(109, 213, 237, 0.8), rgba(33, 147, 176, 0.8)), url("/img/mi-devlab-background-image-footer.jpg");
  background-size: cover;
  background-position: top; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .contact-form {
      -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%); }
      @media only screen and (max-width: 75em) {
        .contact-form {
          -webkit-clip-path: polygon(0% 15vh, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 15vh, 100% 0%, 100% 100%, 0% 100%); } } }
  .contact-form__form {
    margin-top: 6rem;
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .contact-form__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact-form__form {
        width: 100%; } }
  .contact-form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .contact-form__input {
        width: 100%; } }
    .contact-form__input:focus {
      outline: none;
      border-bottom: 3px solid #55c57a; }
    .contact-form__input::-webkit-input-placeholder {
      color: #343a40; }
  .contact-form__alert {
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    width: 90%; }
    .contact-form__alert--success {
      background-color: #55c57a;
      display: flex;
      align-items: center; }
    .contact-form__alert--error {
      background-color: #d62977; }
    @media only screen and (max-width: 56.25em) {
      .contact-form__alert {
        width: 100%; } }
  .contact-form__label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s; }
  .contact-form__input:placeholder-shown + .contact-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem); }
  .contact-form button {
    width: 90%; }
    @media only screen and (max-width: 56.25em) {
      .contact-form button {
        width: 100%; } }

.github-section {
  font-size: 1.3rem;
  padding-top: 0;
  margin-top: -6rem; }
  .github-section h2 {
    text-align: right;
    padding-top: 0; }
  .github-section ul {
    height: 700px;
    overflow: scroll; }
    .github-section ul li {
      padding: 2.2rem 0;
      border-bottom: 1px solid #e4e4e4; }
      .github-section ul li:last-child {
        border-bottom: none;
        margin-bottom: 2rem; }
  .github-section a {
    color: #0000ee;
    text-decoration: underline; }
    .github-section a:hover {
      text-decoration: none; }

.insta-feature {
  margin-top: -8vh;
  padding-top: 14rem;
  padding-bottom: 14rem;
  background: linear-gradient(-70deg, white 80%, #d62977 20%); }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .insta-feature {
      -webkit-clip-path: polygon(0% 25vh, 100% 0%, 100% 92%, 0% 100%);
      clip-path: polygon(0% 25vh, 100% 0%, 100% 92%, 0% 100%); }
      @media only screen and (max-width: 75em) {
        .insta-feature {
          margin-top: 0;
          -webkit-clip-path: polygon(0% 10vh, 100% 0%, 100% 98%, 0% 100%);
          clip-path: polygon(0% 10vh, 100% 0%, 100% 98%, 0% 100%); } } }
  .insta-feature ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .insta-feature li {
    display: flex;
    flex-direction: column;
    background: linear-gradient(70deg, #f6f8fa 80%, #d62977 20%);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    .insta-feature li img {
      border-radius: 0.6rem;
      width: 230px; }
    .insta-feature li p {
      font-size: 1.3rem;
      word-wrap: break-word;
      width: 230px; }
    .insta-feature li a {
      margin-top: auto; }

.courses-feature {
  padding-top: 0;
  padding-bottom: 22rem;
  background-color: #f6f8fa; }
  .courses-feature ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    overflow: scroll; }
  .courses-feature li {
    margin: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 260px;
    word-wrap: break-word; }
    .courses-feature li img {
      width: 260px; }
  .courses-feature .course-details {
    height: 250px; }
    @media only screen and (max-width: 75em) {
      .courses-feature .course-details {
        height: 180px; } }
    .courses-feature .course-details h4 {
      font-weight: bold;
      padding: 0.4rem 1rem; }
    .courses-feature .course-details p {
      font-size: 1.3rem;
      padding: 0.4rem 1rem; }
  .courses-feature .status {
    border-top: 1px solid #cccccc;
    width: 80%;
    margin: 1rem auto;
    text-align: right;
    font-size: 1.3rem; }

.footer-section {
  background-color: #343a40;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 3rem; }
  .footer-section__nav {
    display: flex;
    flex-wrap: wrap; }
    .footer-section__nav ul {
      margin: 0 4rem 0 0; }
    .footer-section__nav li {
      padding: 0.2rem; }
      .footer-section__nav li a:hover {
        color: #cccccc; }
  .footer-section__end {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem; }
  .footer-section .social-icons ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem; }
    .footer-section .social-icons ul li {
      padding-right: 5px; }
      .footer-section .social-icons ul li:hover {
        opacity: 0.7; }

.intro-feature {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(109, 213, 237, 0.8), rgba(33, 147, 176, 0.8)), url("/img/mi-devlab-background-image.jpg");
  background-size: cover;
  background-position: top; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .intro-feature {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%); } }
  @media only screen and (max-width: 37.5em) {
    .intro-feature {
      height: 160vh; } }
  .intro-feature a {
    color: inherit; }
