.intro-feature {
  height: 75vh;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/img/mi-devlab-background-image.jpg');
  background-size: cover;
  background-position: top;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 52vh, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 52vh, 0 90%);
  }

  @include respond(tab-land) {
    height: 95vh;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 90%);
    }
  }

  a {
    color: inherit;
  }
}
