$color-primary-light: rgb(109, 213, 237);
$color-primary-dark: rgb(33, 147, 176);
$color-secondary-light: rgb(85, 197, 122);
$color-secondary-dark: rgb(126, 213, 111);
$color-tertiary: rgb(214, 41, 119);
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(246, 248, 250);
$color-grey-med: rgb(204, 204, 204);
$color-grey-dark: rgb(52, 58, 64);
$color-black: rgb(0, 0, 0);

$default-font-size: 1.6rem;
$sml-font-size: 1.3rem;

$box-shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
